
{% extends 'layout.html' %}

{% block body %}
<div class="wrapper1">
<h1>Our Team</h1>
</div>
<div class="wrapper">
 
  <div class="team">
   
    <div class="team_member">
      <div class="team_img">
        <img src="/static/images/circle-Fnu.png" alt="Team_image">
      </div>
      <h3>Fnu Vishal</h3>
      <p class="role">Data Scientist</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
    </div>

    <div class="team_member">
      <div class="team_img">
        <img src="/static/images/circle-Katie.png" alt="Team_image">
      </div>
      <h3>Katie Lamberto</h3>
      <p class="role">Data Scientist</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p></div>
    
      <div class="team_member">
      <div class="team_img">
        <img src="/static/images/circle-Solomon.png" alt="Team_image">
      </div>
      <h3>Solomon Ati</h3>
      <p class="role">Data Scientist</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>

    </div>
    <div class="team">
      <div class="team_member">
        <div class="team_img">
          <img src="/static/images/circle-Irina.png" alt="Team_image">
        </div>
        <h3>Irina Chernyavsky</h3>
        <p class="role">Data Scientist</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
      </div>



  </div>



</div>



{% endblock %}
