{% extends 'layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}


<div class="wrapper">
	<div class="registration_form">
		<div class="title">
			Register
		</div>

		<form method="POST" action="">
			<div class="form_wrap">
				<div class="input_grp">
					<div class="input_wrap">
						<label for="fname"></label>
						{{render_field(form.name, class_="form-control")}}
					</div>
					<div class="input_wrap">
						<label for="lname"></label>
						{{render_field(form.email, class_="form-control")}}
					</div>
				</div>
				<div class="input_wrap">
					<label for="email"></label>
					{{render_field(form.username, class_="form-control")}}
				</div>
		
				<div class="input_wrap">
					<label for="city"></label>
					{{render_field(form.password, class_="form-control")}}
				</div>
				<div class="input_wrap">
					<label for="country"></label>
					{{render_field(form.confirm, class_="form-control")}}
				</div>
				<div class="input_wrap">
					<input type="submit" value="Register Now" class="submit_btn">
				</div>
			</div>
		</form>
	</div>
</div>


{% endblock %}